.spinner-container {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 1000;
}

.post-container {
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 24px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.post-title {
  font-size: 16px;
  font-weight: bold;
}

mat-icon {
  color: blue;
  opacity: 0.75;
  font-size: 30px;
  margin: 5px 10px 10px 0px;
}