<mat-toolbar color="primary">
  Posts
</mat-toolbar>
<div class="scroll-container" infiniteScroll [infiniteScrollDisabled]="isInfiniteScrollDisabled"
  (scrolled)="nextPage()">

  <div class="post-container" *ngFor="let post of posts">
    <div class="post-title">{{ post.user_name }}</div>
    <div style="display: flex; align-items: center;">
      <mat-icon>account_circle</mat-icon>
      <span class="post-title">{{ post.email }}</span>
    </div>

    <div style="color: gray; font-size: 14px">{{ post.created_at}}</div>
    <p>
      {{ post.content }}
    </p>
    <div style="font-weight: bold;font-size: 14px;">Tags:</div>
    <br />
    <mat-chip-list>
      <mat-chip *ngFor="let tag of post.tags">{{tag}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
<mat-spinner diameter="50" *ngIf="isLoadingPosts" class="spinner-container"></mat-spinner>